<header class="d-flex justify-content-between">
    <div class="ml-2 left"><button (click)="dismiss(undefined)">Cancel</button></div>
    <div class="center">Add Feild</div>
    <div class="mr-2 right"></div>
</header>

<main>
    <form [formGroup]="fromFeild" #form="ngForm" >
        <div class="container m-auto mt-3 row">

            <!-- Select Data Type -->
            <div class="col-md-12">
                <div class="my-3">
                    <label for="TitleAR" class="form-label">Select Delivery Type</label>
                    <select #dataType class="form-select" formControlName="type" placeholder="Select delivery Type">
                        <option class="form-option" *ngFor="let dataType of fieldTypes" value="{{dataType.id}}"> {{ dataType.name }} </option>
                    </select>
                </div>
                <div *ngIf="!fromFeild.controls.type.valid && !fromFeild.controls.type.valid && (fromFeild.controls.type.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Delivery type is required.
                    </div>
                </div>
            </div>

            <!-- Values<Lookups> -->
            <div class="col-md 6" *ngIf="showValues()" >
                <div class="mb-3">
                    <label for="lookups" class="form-label">Values</label>
                    <select id="lookups" [required]="showValues()" class="form-select" formControlName="lookups" placeholder="Select delivery Type">
                        <option class="form-option" *ngFor="let lookup of lookups" value="{{lookup.name}}"> {{ lookup.name }} </option>
                    </select>
                </div>
                <div *ngIf="!fromFeild.controls.lookups.valid && !fromFeild.controls.lookups.valid && (fromFeild.controls.lookups.touched || submitAttept)">
                    <div class="alert alert-danger">
                        lookups value is required.
                    </div>
                </div>
            </div>


            <!-- Deffault Values -->
            <div class="col-md 6" *ngIf="!showValues()" >
                <div class="mb-3">
                    <label for="TitleAR" class="form-label">Deffault Values</label>
                    <input type="text" formControlName="deffaultValue" autocomplete="off"  class="form-control ">
                </div>
                <div *ngIf="!fromFeild.controls.deffaultValue.valid && !fromFeild.controls.deffaultValue.valid && (fromFeild.controls.deffaultValue.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Deffault Value is required.
                    </div>
                </div>
            </div>



            <!-- Arabic Description -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="DescriptionAR" class="form-label">Arabic Description</label>
                    <input type="text" formControlName="description_AR" autocomplete="off"  class="form-control ">
                </div>
                <div *ngIf="!fromFeild.controls.description_AR.valid && !fromFeild.controls.description_AR.valid && (fromFeild.controls.description_AR.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Arabic Description is required.
                    </div>
                </div>
            </div>

            <!-- English Title -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="DescriptionEN" class="form-label"> English Title</label>
                    <input type="text" formControlName="title" autocomplete="off" class="form-control ">
                </div>
                <div *ngIf="!fromFeild.controls.title.valid && !fromFeild.controls.title.valid && (fromFeild.controls.title.touched || submitAttept)">
                    <div class="alert alert-danger">
                        English title is required.
                    </div>
                </div>
            </div>


            <!-- Arabic Title  -->
            <div class="col-md-6" >
                <div class="mb-3">
                    <label for="TitleAR" class="form-label">Arabic Title</label>
                    <input type="text" formControlName="title_AR" autocomplete="off" class="form-control title_AR" >
                </div>
                <div *ngIf="!fromFeild.controls.title_AR.valid && !fromFeild.controls.title_AR.valid && (fromFeild.controls.title_AR.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Arabic Title is required.
                    </div>
                </div>
            </div>


            <!-- English Hint -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="DescriptionAR" class="form-label">English Hint</label>
                    <input type="text" formControlName="hint" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf="!fromFeild.controls.hint.valid && !fromFeild.controls.hint.valid && (fromFeild.controls.hint.touched || submitAttept)">
                    <div class="alert alert-danger">
                        English hint is required.
                    </div>
                </div>
            </div>


            <!-- Arabis Hint -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="hintAR" class="form-label">Arabic hint</label>
                    <input type="text" id="hintAR" formControlName="hintAr" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf="!fromFeild.controls.hintAr.valid && !fromFeild.controls.hintAr.valid && (fromFeild.controls.hintAr.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Arabic Hint is required.
                    </div>
                </div>
            </div>


            <!-- English Error Message -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="titleEN" class="form-label">English Error Message</label>
                    <input type="text" id="titleEN" formControlName="errorMessage" autocomplete="off" class="form-control" >
                </div>
                <div *ngIf="!fromFeild.controls.errorMessage.valid && !fromFeild.controls.errorMessage.valid && (fromFeild.controls.errorMessage.touched || submitAttept)">
                    <div class="alert alert-danger">
                        English Error Message is required.
                    </div>
                </div>
            </div>


            <!-- Arabic Error Message -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="errorMessageAr" class="form-label">Arabic Error Message</label>
                    <input type="text" id="errorMessageAr" formControlName="errorMessageAr" autocomplete="off"  class="form-control" >
                </div>
                <div *ngIf="!fromFeild.controls.errorMessageAr.valid && !fromFeild.controls.errorMessageAr.valid && (fromFeild.controls.errorMessageAr.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Arabic Error Message is required.
                    </div>
                </div>
            </div>


            <!-- English Description -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="description_EN" class="form-label">English Description</label>
                    <input type="text" id="description_EN" formControlName="description_EN" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf="!fromFeild.controls.description_EN.valid && !fromFeild.controls.description_EN.valid && (fromFeild.controls.description_EN.touched || submitAttept)">
                    <div class="alert alert-danger">
                        English Description is required.
                    </div>
                </div>
            </div>


            <!-- Arabic Title  -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="DescriptionAR" class="form-label">Arabic Title</label>
                    <input type="text" formControlName="title_AR" autocomplete="off"  class="form-control title_AR">
                </div>
                <div *ngIf="!fromFeild.controls.title_AR.valid && !fromFeild.controls.title_AR.valid && (fromFeild.controls.title_AR.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Arabic Title is required.
                    </div>
                </div>
            </div>


            <!-- MinimumValue -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="minimumValue" class="form-label">Minimum Value</label>
                    <input type="text" id="minimumValue" formControlName="minimumValue" autocomplete="off"  class="form-control ">
                </div>
            </div>


            <!-- MaximumValue -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="maximumValue" class="form-label">Maximum Value</label>
                    <input type="text" id="maximumValue" formControlName="maximumValue" autocomplete="off"  class="form-control">
                </div>
            </div>


            <!-- fieldLength -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="fieldLength" class="form-label">Field Length</label>
                    <input type="number" formControlName="fieldLength" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf="!fromFeild.controls.fieldLength.valid && !fromFeild.controls.fieldLength.valid && (fromFeild.controls.fieldLength.touched || submitAttept)">
                    <div class="alert alert-danger">
                        field Length is required.
                    </div>
                </div>
            </div>


            <!-- seekBarProgress -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="seekBarProgress" class="form-label">Seekbar Progress</label>
                    <input type="number" formControlName="seekBarProgress" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf="!fromFeild.controls.seekBarProgress.valid && !fromFeild.controls.seekBarProgress.valid && (fromFeild.controls.seekBarProgress.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Seekbar Progress is required.
                    </div>
                </div>
            </div>


            <!-- regularExpression -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="regularExpression" class="form-label">Regular Expression</label>
                    <input type="text" formControlName="regularExpression" autocomplete="off"  class="form-control">
                </div>
                <div *ngIf="!fromFeild.controls.regularExpression.valid && !fromFeild.controls.regularExpression.valid && (fromFeild.controls.regularExpression.touched || submitAttept)">
                    <div class="alert alert-danger">
                        Regular Expression is required.
                    </div>
                </div>
            </div>


            <!-- (Is Required && shouldValidateRegex) Checkboxes -->
            <div class="col-md-12">
                <div class="mb-2">
                    <mat-checkbox formControlName="isRequired" >Is Required</mat-checkbox>
                </div>
                <div class="mb-2">
                    <mat-checkbox formControlName="shouldValidateRegex" >Should Validate Regex</mat-checkbox>
                </div>
            </div>


        </div>
        <button (click)="createFeild(fromFeild.value)" class="btn btn-primary ml-4" > Save </button>
    </form>
</main>