<header class="headerModal  d-flex justify-content-between p-5 py-3  ">
    <div class="titleModal">
        <h2 *ngIf="!updateProduct"> Add New Product </h2>
        <h2 *ngIf="updateProduct"> Update Product </h2>
    </div>
    <div class="dismissModal">
    </div>
</header>

<main class="main">

    <form [formGroup]="productForm" ngForm="form">

        <div class="container">
            <div class="row">

                <div class="w-100 mt-3 text-center container-img">
                    <div class=" m-auto">
                        <img [src]="fileImageUrl" width="100%" height="100%" alt="">
                    </div>
                </div>
                <div class="w-100">

                    <div class="text-center mt-3">
                        <button (click)="UploadFile.click()" type="button" class="btn btn-primary">Upload Product Image</button>
                    </div>
                    
                </div>
                
                <input #UploadFile (change)="getFileUploader($event)" hidden="true" type="file" name="file" id="file">
                
                <div class="body-form mt-5 w-100">
                    <div class="row">

                        <!-- English Title Product -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-2">
                                <mat-label>English Title</mat-label>
                                <span matPrefix> <i class="bi bi-badge-ar-fill"></i> &nbsp; </span>
                                <input matInput autofocus formControlName="englishName">
                            </mat-form-field>
                        </div>
    
                        <!-- Arabic Title Product -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-2">
                                <mat-label>Arabic Title</mat-label>
                                <span matPrefix> <i class="bi bi-badge-ar-fill"></i> &nbsp; </span>
                                <input matInput formControlName="arabicName">
                            </mat-form-field>
                        </div>

                        <!-- English Description Product -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-2">
                                <mat-label>English Description</mat-label>
                                <span matPrefix> <i class="bi bi-badge-ar-fill"></i> &nbsp; </span>
                                <input matInput formControlName="englishDescription">
                            </mat-form-field>
                        </div>

                        <!-- Arabic Description Product -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-2">
                                <mat-label>Arabic Description</mat-label>
                                <span matPrefix> <i class="bi bi-badge-ar-fill"></i> &nbsp; </span>
                                <input matInput formControlName="arabicDescription">
                            </mat-form-field>
                        </div>

                        <!-- Product Price -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-2">
                                <mat-label> Product Price </mat-label>
                                <span matPrefix> <i class="bi bi-badge-ar-fill"></i> &nbsp; </span>
                                <input type="number" matInput formControlName="price">
                            </mat-form-field>
                        </div>

                        <!-- Total Quantity Product -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100 mt-2">
                                <mat-label> Total Quantity  </mat-label>
                                <span matPrefix> <i class="bi bi-badge-ar-fill"></i> &nbsp; </span>
                                <input type="number" matInput formControlName="totalQuantity">
                            </mat-form-field>
                        </div>

                        <div class="col-md-12" *ngIf="!updateProduct">
                            <!-- Parent ID -->
                            <mat-form-field appearance="fill" class="w-100" >
                                <mat-label>Choose Parent </mat-label>
                                <mat-select formControlName="parentSubCategory">
                                    <mat-option *ngFor="let subCategory of SubCategories" [value]="subCategory._id">
                                    {{subCategory.englishNameSubCategory}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- isWholesale Product -->
                        <div class="col-md-6">
                            <mat-checkbox color="primary" formControlName="isWholesale">
                                is Wholesale
                            </mat-checkbox>
                        </div>

                        <!-- Parent Sub Category for Product -->
                        <!-- <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Favorite food</mat-label>
                                <mat-select formControlName="parentSubCategory" name="food">
                                  <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container buttonsModal w-100 text-right ">
            <button *ngIf="!updateProduct" (click)="createNewProduct(productForm.value)" class="btn m-3 create-category"> create product </button>
            <button *ngIf="updateProduct" (click)="update()" class="btn m-3 create-category"> update product </button>
        </div>
    </form>


    

</main>


