$primaryColor: #2BA4DD;
$secondaryBlackColor: #3C3C3C;
$secondaryPinkColor: #B51F71;
$secondaryLightBlueColor: #1070B7;
$secondaryDarkBlueColor: #2D3387;
$secondaryWhiteColor: #f1f1f1;

header {
    background-color: $primaryColor;
    color: $secondaryWhiteColor;
}

.dissmisModal { 
    span {
        font-size: 18px;
        &:hover {
            cursor: pointer;
        }
        cursor: pointer;
    }
}

form {
    height: 90%;
}

.buttonsModal {
    button {
        text-transform: uppercase;
    }
 
    .cancel {
        border: 3px solid $primaryColor;
    }
    
    .create-category {
        border: 1px solid $primaryColor;
        background-color: $primaryColor;
        color: $secondaryWhiteColor;
    }

}

.ess-select {
    width: 100%;
    padding: 15px;
    background-color: #f1f1f1;
    margin: 15px 0;
    outline: none;
}






