<header class="d-flex justify-content-between">
    <div class="ml-2 left"><button (click)="dismiss(undefined)"> Close</button></div>
    <div class="center">Add Step</div>
    <div class="mr-2 right"></div>
</header>

<main>
    <form [formGroup]="fromStep" #form="ngForm" >
        <div class="row container mt-3">

            <!-- English Title  -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="TitleEN" class="form-label">English Title</label>
                    <input type="text" name="title_EN" #title_EN formControlName="title_EN" autocomplete="off" class="form-control title_EN" id="TitleEN" >
                </div>
                <div *ngIf="!fromStep.controls.title_EN.value && !fromStep.controls.title_EN.valid && (fromStep.controls.title_EN.touched || submitAttempt)">
                    <div class="alert alert-danger">
                        <div >
                            English title is required.
                        </div>
                    </div>
                </div>
            </div>



            <!-- English Description -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="DescriptionEN" class="form-label">English Description</label>
                    <input type="text" formControlName="description_EN" autocomplete="off" class="form-control description_EN" id="DescriptionEN">
                  </div>
                  <div *ngIf="!fromStep.controls.description_EN.value && !fromStep.controls.description_EN.valid && (fromStep.controls.description_EN.touched || submitAttempt )">
                    <div class="alert alert-danger">
                        English Description is Required
                    </div>
                  </div>
            </div>


            <!-- Arabic Title  -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="TitleAR" class="form-label">Arabic Title</label>
                    <input type="text" formControlName="title_AR" autocomplete="off" class="form-control title_AR" id="TitleAR">
                </div>
                <div *ngIf="!fromStep.controls.title_AR.value && !fromStep.controls.title_AR.valid && (fromStep.controls.title_AR.touched || submitAttempt )">
                    <div class="alert alert-danger">
                        Arabic Title is Required
                    </div>
                </div>
            </div>

            
            <!-- Arabic Description -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="DescriptionAR" class="form-label"> Arabic Description</label>
                    <input type="text" formControlName="description_AR" autocomplete="off"  class="form-control description_AR" id="DescriptionAR">
                </div>
                <div *ngIf="!fromStep.controls.description_AR.value && !fromStep.controls.description_AR.valid && (fromStep.controls.description_AR.touched || submitAttempt )">
                    <div class="alert alert-danger">
                        Arabic Description is Required
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit The Form  -->
        <button class="ml-3 btn btn-primary" (click)="createStep(fromStep.value)">Save</button>
    </form>
</main>
