<div class="container">
    <div class="create w-100 text-right">
        <button class="btn btn-primary m-3" (click)="openAddStepModal()" > Add Step <i class="bi bi-plus-circle"></i> </button>
    </div>

    <div class="body-steps container">
        <div class="m-3">
            <div class="row pt-3">
                <form [formGroup]="rootForm" #rootFormID="ngForm" (ngSubmit)="createRootForm(rootForm.value)">
                    <div class="row container">


                        <!-- InsuranceTypes -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="label-select" >Insurance Types</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-control d-inline-block w-100">
                                        <mat-select id="DeliveryTypes" formControlName="insuranceTypes" placeholder="Delivery Insurance Types">
                                            <mat-option *ngFor="let insuranceTypes of InsuranceTypes " value=" {{ insuranceTypes.id }} "> {{ insuranceTypes.name }} </mat-option>
                                        </mat-select>
                                    </div>
                                    <div *ngIf="!rootForm.controls.insuranceTypes.value && !rootForm.controls.insuranceTypes.valid && (rootForm.controls.insuranceTypes.touched || submitAttempt  )" >
                                        <div class="alert alert-danger">
                                            Insurance Types is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- DeliveryTypes -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="label-select">Delivery Types</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-control d-inline-block w-100">
                                        <mat-select class="form-select" formControlName="deliveryTypes" placeholder="Select Delivery Types">
                                            <mat-option *ngFor=" let deliveryTypes of DeliveryTypes " value="{{ deliveryTypes.id }}  "> {{ deliveryTypes.name }} </mat-option>
                                        </mat-select>
                                    </div>
                                    <div *ngIf="!rootForm.controls.deliveryTypes.value && !rootForm.controls.deliveryTypes.valid && (rootForm.controls.deliveryTypes.touched || submitAttempt  )" >
                                        <div class="alert alert-danger">
                                            Delivery Types is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- PaymentMethods -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="label-select">Payment Types</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-control d-inline-block w-100">
                                        <mat-select class="form-select w-100" formControlName="paymentTypes" placeholder="Select Approval Types" aria-label="multiple select example">
                                            <mat-option *ngFor="let paymentTypes of PaymentTypes" value=" {{ paymentTypes.id }} "> {{ paymentTypes.name }} </mat-option>
                                        </mat-select>
                                    </div>
                                    <div *ngIf="!rootForm.controls.paymentTypes.value && !rootForm.controls.paymentTypes.valid && (rootForm.controls.paymentTypes.touched || submitAttempt  )" >
                                        <div class="alert alert-danger">
                                            Payment Types is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- ApprovalTypes -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="label-select">Approval Types</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-control d-inline-block w-100">
                                        <mat-select class="form-select w-100" formControlName="approvalTypes" placeholder="Select Approval Types" aria-label="multiple select example">
                                            <mat-option *ngFor="let approvalTypes of ApprovalTypes" value=" {{ approvalTypes.id }} "> {{ approvalTypes.name }} </mat-option>
                                        </mat-select>
                                    </div>
                                    <div *ngIf="!rootForm.controls.approvalTypes.value && !rootForm.controls.approvalTypes.valid && (rootForm.controls.approvalTypes.touched || submitAttempt  )" >
                                        <div class="alert alert-danger">
                                            Approval Types is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PaymentTypes -->
                        <h3 class="mt-3 fw-bold">Payment Methods</h3>
                        <div class="form-control w-100" >
                            <mat-select multiple formControlName="paymentMethods" class="form-select w-100" placeholder="Select Payment Methods ">
                                <mat-option *ngFor="let paymentMethods of PaymentMethods" value=" {{ paymentMethods.id }} "> {{ paymentMethods.name }} </mat-option>
                            </mat-select>
                        </div>
                        <div class="w-100" *ngIf="!rootForm.controls.paymentMethods.value && !rootForm.controls.paymentMethods.valid && (rootForm.controls.paymentMethods.touched || submitAttempt  )" >
                            <div class="w-100 alert alert-danger">
                                Payment Methods is required.
                            </div>
                        </div>
                        


                        <div class="text-left w-100  mt-3">
                            <mat-checkbox> Has Personal Information </mat-checkbox>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Update Form Step Here -->
        <div class="update-form container mt-2 pt-3" *ngIf="allSteps.length">
            <form class="formUpdateStep" [formGroup]="stepsFormUpdate">
                
            <!-- Tabs  -->
            <div>
                <ul class="list-unstyled">
                    <li *ngFor="let step of allSteps" (click)="getCurrentStep(step)" > {{ step.title_EN }} </li> 
                </ul>
            </div>

                <div class="row mt-2 ">
                    <div class="col-md-6 col-sm-6">
                        <label for="title_en" class="form-label mt-3">English Title</label>
                        <input #title_EN formControlName="title_en" type="text" autocomplete="off" class="form-control w-75" id="title_en" > 
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <label for="description_en" class="form-label mt-3">English Description </label>
                        <input #description_EN formControlName="description_en" type="text" autocomplete="off" class="form-control w-75" id="description_en" > 
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <label for="title_ar" class="form-label mt-3">Arabic Title</label>
                        <input #title_AR formControlName="title_ar" type="text" autocomplete="off" class="form-control w-75" id="title_ar" > 
                    </div>
                    
                    <div class="col-md-6 col-sm-6">
                        <label for="description_ar" class="form-label mt-3">Arabic Description</label>
                        <input #description_AR formControlName="description_ar" type="text" autocomplete="off" class="form-control w-75" id="description_ar" > 
                    </div>
                    
                </div>
                <button type="submit" [disabled]="!stepsFormUpdate.valid" (click)="formSubmit(stepsFormUpdate.value)" class="btn btn-primary mt-3">Update</button>
                <div class="w-100 text-right mt-3">
                    <button (click)="openCreateFieldModal()" class="btn btn-primary m-3">Add Field <i class="bi bi-plus-circle"></i> </button>
                </div>
        
                <div class="container">
                    <table *ngIf="stepFields.length" class="table">
                        <thead>
                          <tr>
                            <th scope="col">type</th>
                            <th scope="col">title</th>
                            <th scope="col">hint</th>
                            <th scope="col">Error Message</th>
                            <th scope="col">description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let field of stepFields">
                            <th > {{ field.type }} </th>
                            <td> {{ field.title }} </td>
                            <td> {{ field.hint }} </td>
                            <td> {{ field.errorMessage }} </td>
                            <th > {{ field.description_EN }} </th>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </form>
        </div>
        <div class="w-25 m-auto text-center">
            <button  class="btn btn-primary" type="button" (click)="submitRootForm()">Submit</button>
        </div>
    </div>
</div>
