<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="float-right m-3 create">
                
              <a routerLink="/apps/form-steps" >
                <button class="btn btn-primary" (click)="openCreateStep()"> Create <i class="bi bi-plus-circle"></i> </button>
              </a> 
                
            </div>

            <table class="table w-100">
                <thead>
                  <tr>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Visit Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Service Provided</th>
                    <th scope="col">Now</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td><i class="bi bi-eye"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td><i class="bi bi-eye"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td><i class="bi bi-eye"></i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>